body {
  background: #0d1117;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  padding: 20px;
  min-height: 100vh;
}

.header {
  text-align: center;
}
.catalog {
  width: 300px;
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
}

.catalog-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  background: #21262d;
  border-radius: 8px;
}

.catalog-item:hover {
  background: #30363d;
}
.details {
  flex: 1;
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
}

.details img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}